[
    {
        "name": "Verify alloc testing",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-alloc-testing.c" ],
        "compilation_cmd": "-Itest -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify array list",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-arraylist.c",
                   "src/arraylist.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify AVL tree",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-avl-tree.c",
                   "src/avl-tree.c",
                   "src/compare-int.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify binary heap",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-binary-heap.c",
                   "src/binary-heap.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify binomial heap",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-binomial-heap.c",
                   "src/binomial-heap.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify bloom filter",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-bloom-filter.c",
                   "src/bloom-filter.c",
                   "src/hash-string.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify compare functions",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-compare-functions.c",
                   "src/compare-int.c",
                   "src/compare-pointer.c",
                   "src/compare-string.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify cpp",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-cpp.cpp",
                   "src/compare-int.c",
                   "src/compare-pointer.c",
                   "src/compare-string.c",
                   "src/hash-int.c",
                   "src/hash-pointer.c",
                   "src/hash-string.c",
                   "src/arraylist.c",
                   "src/avl-tree.c",
                   "src/binary-heap.c",
                   "src/binomial-heap.c",
                   "src/bloom-filter.c",
                   "src/hash-table.c",
                   "src/list.c",
                   "src/queue.c",
                   "src/set.c",
                   "src/slist.c",
                   "src/trie.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify hash functions",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-hash-functions.c",
                   "src/hash-int.c",
                   "src/hash-pointer.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify hash table",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-hash-table.c",
                   "src/hash-table.c",
                   "src/hash-int.c",
                   "src/hash-string.c",
                   "src/compare-string.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify list",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-list.c",
                   "src/list.c",
                   "src/compare-int.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify queue",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-queue.c",
                   "src/queue.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify rb tree",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-rb-tree.c",
                   "src/rb-tree.c",
                   "src/compare-int.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify set",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-set.c",
                   "src/set.c",
                   "src/hash-int.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify slist",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-slist.c",
                   "src/slist.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify sorted array",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-sortedarray.c",
                   "src/sortedarray.c",
                   "src/compare-int.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    },
    {
        "name": "Verify trie",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-trie.c",
                   "src/trie.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    }
]



